    .dark-theme {
        --first-color: hsl(182, 53%, 74%);
        --button-color: hsl(246, 16%, 12%);
        --button-color-alt: hsl(0, 0%, 28%);
        --card-color: hsla(246, 16%, 5%, .5);
        --title-color: hsl(0, 0%, 95%);
        --text-color: hsl(0, 0%, 75%);
        --body-color: hsl(249, 19%, 14%);
        --container-color: hsl(246, 16%, 12%);
        --border-color: hsl(0, 0%, 20%);
      }
        
    
         
      
      /*--header-height:  3.5rem;
          --first-color:  hsl(354, 78%, 60%);
          --button-color:  hsl(0, 0%, 17%);
          --button-color-alt:  hsl(0, 0%, 21%);
          --card-color:  hsl(0, 0%, 90%);
          --title-color:  hsl(0, 0%, 15%);
          --text-color:  hsl(0, 0%, 35%);
          --text-color-light:  hsl(0, 0%, 55%);
          --body-color:  hsl(206, 4%, 97%);
          --container-color:  #fff;
          --border-color:  hsl(0, 0%, 94%);
          --body-font:  "Roboto", sans-serif;
          --biggest-font-size:  2rem;
          --h1-font-size:  1.5rem;
          --h2-font-size:  1.25rem;
          --h3-font-size:  1rem;
          --normal-font-size:  0.938rem;
          --small-font-size:  0.813rem;
          --smaller-font-size:  0.75rem;
          --font-medium:  500;
          --font-bold:  700;
          --mb-0-5:  0.5rem;
          --mb-0-75:  0.75rem;
          --mb-1:  1rem;
          --mb-1-5:  1.5rem;
          --mb-2:  2rem;
          --mb-2-5:  2.5rem;
          --mb-3:  3rem;
          --z-tooltip:  10;
          --z-fixed:  100;
          
         
          */

    .dark{
            background-color: hsl(249, 19%, 14%);
          }
      
    .dark .navIcon{
          fill: hsl(182, 53%, 74%);        
      }      
      
    .dark .nav1{
          background-color: hsl(246, 16%, 12%);
          box-shadow: none;                   
      }
      
    .dark .nav2{
          background: none;          
      }
          
    .dark svg {
          fill: hsl(182, 53%, 74%);
      }
        
    .dark #store{
          color: hsl(0, 0%, 95%);
      }
      
    .dark .nav a{
          color: hsl(0, 0%, 95%); 
      }
      
    .dark .nav a:hover{
          color: hsl(182, 53%, 74%);
      }
      
    .dark .bolsa span{
          background-color: hsl(0, 0%, 95%);
          color: black;         
      }

    .dark .carrito{
        background-color: hsl(249, 19%, 14%);
        color: hsl(0, 0%, 95%);    
        box-shadow: 0 0 5px 0 hsl(0, 0%, 25%);    
    }  

    .dark .carrito h3{
      color: hsl(0, 0%, 95%);
    }
    
    .dark .carrito label{
      color: hsl(0, 0%, 95%);
    }

    .dark .contenedorCarrito h4{
      color: hsl(0, 0%, 95%);
    }

    .dark .imagen{
      border-color: hsl(0, 0%, 25%);
      width: 25%;
    }

    .dark .stock{
      color: hsl(0, 0%, 75%);
    }

    .dark .menos, .dark .mas{
      border-color: hsl(0, 0%, 25%);
    }

    .dark .unidades{
      color: hsl(0, 0%, 75%);
    }

    .dark .precioProducto{
      color: hsl(182, 53%, 74%);
    }

    .dark .subPrecioProducto{
      color: hsl(182, 53%, 74%);
    }

    .dark .descripcionPrincipal h2{         
          color: hsl(0, 0%, 95%);;   
      }
      
    .dark .descripcionPrincipal p{         
          color: hsl(0, 0%, 75%);
      }
      
    .dark .descripcionPrincipal span{
          color: hsl(182, 53%, 74%);
      }      
       
    .dark .addToCart{       
        background-color: hsl(246, 16%, 12%);        
    }
    
    .dark .addToCart:hover{
        color: hsl(0, 0%, 0%);
        background-color: hsl(182, 53%, 74%);
    }
    
    .dark aside{         
        background-color: hsl(182, 53%, 74%);           
    }  
      
    .dark .contenidoSection article{
          background-color: hsla(246, 16%, 5%, .5);
      }
    
    .dark .contenidoSection article div{
          background-color: hsl(246, 16%, 12%);
      }
      
    .dark .contenidoSection article div h4{
          color: hsl(0, 0%, 75%);           
      }   
      
    .dark .contenidoSection article div h4 span{
          border-left: 1px solid hsl(0, 0%, 75%);
          margin-left: .3rem;
          padding-left: .3rem;
          font-size: .85rem;
          color: hsl(0, 0%, 75%);    
      }
      
    .dark .contenidoSection article div h3{
          color: hsl(0, 0%, 75%);
      }
      
    .dark .contenidoSection button{
          background-color: hsl(246, 16%, 15%);
          font-size: 2rem;
          color: hsl(0, 0%, 75%);
          box-shadow: none
          
      }
      
    .dark .contenidoSection button:hover{
          background-color: hsl(182, 53%, 74%);          
          color: black;
          box-shadow: none;
      }
      
    .dark footer{          
          background-color: hsla(246, 16%, 5%, .5);
      }
      
    .dark footer div article> h3{
          padding: 0 0 1.5rem 0;
          color: hsl(0, 0%, 75%);
      }
      
    .dark footer div article p:hover{
          color: white;      
      } 
    
    .dark footer span{
        color: hsl(0, 0%, 35%);
    }
      